<%= javascript_include_tag('refresh_surveys_list.js') %>
<%= stylesheet_link_tag('list_in_surveys') %>
<h1>Surveys</h1>

<%= render "surveys/surveys", surveys: @surveys %>

<button onclick="refreshSurveys()">
  Refresh surveys
</button>